<div style="margin-left:5vw; margin-right:5vw; margin-bottom:50vh;margin-top:5vh;">
  <h3 style="margin-bottom:5vh;">Chatting with <%= @conversation.with(current_user).fname %></h3>

  <div id="conversation-main" class="conversation_view">
    <div id="conversation-body">
      <%= render @conversation.personal_messages %>
    </div>

    <%= form_for @personal_message do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
      <p><%= f.label "New Message:" %></p>

      <p><%= f.text_area :body %></p>

      <p><%= f.submit %></p>
    <% end %>
  </div>
</div>