<% @jobs.each do |job| %>
  <div class="eachjob spring-fever">
    <div class="title-content">
      <h3><%= job.name %></h3>
      <hr />
      <div class="intro"><%= Category.find(Subcategory.find(job.subcategory_id).category_id).name %></div>
      <div class="intro"><%= Subcategory.find(job.subcategory_id).name %></div>
    </div><!-- /.title-content -->
    <div class="card-info">
      Find More: <%= link_to 'Details', job_detail_path(job) %> <br/>
      <%= job.description %> <br/>
    </div><!-- /.card-info -->
    <div class="utility-info">
      <ul class="utility-list">
        <li class="usersicon"> <%= image_tag("user.jpg", :alt => "user", style: "height: 100%;")%><b> User: <%= User.find(job.user_id).fname %></b></li>
        <li class="date" style="padding-left: 10%"><%= job.created_at.to_date %></li>
      </ul>
    </div><!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
<% end %>
