<div class="newjob">
  <h2>Create a job</h2>
  <%= form_for :jobs do |f| %>
    <div class="field">
      <b><%= f.label :name %><br /> </b>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <b><%= f.label :subcategory %><br /> </b>
      <%= f.select :subcategory, Subcategory.pluck(:name, :category_id)%>
    </div>
    <div class="field">
      <b><%= f.label :cost %><br /> </b>
      <%= f.number_field :cost, min:1 %>
    </div>
    <div class="description">
      <b><%= f.label :description %><br /> </b>
      <%= f.text_field :description %>
    </div>
  <% end %>
</div>
