
<div style="margin-bottom:45vh;">
  <% if user_signed_in? %>
    <h4>Welcome <%= @user.fname %> !</h4>
    <% if current_user.admin == true %>
      <p>
        Our records indicate that you are an admin. Access your dashboard here: <%= link_to('Admin Dashboard', rails_admin_path) %>
      </p>
    <% end %>
    <p>
      The following jobs exist for <%= @user.fname %>:
      <table id="jobs">
        <tr>
          <th>Job Name</th>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Cost</th>
          <th>Description</th>
          <th>Details</th>
        </tr>

        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= Category.find(Subcategory.find(job.subcategory_id).category_id).name %></td>
            <td><%= Subcategory.find(job.subcategory_id).name %></td>
            <td><%= job.cost %></td>
            <td><%= job.description %></td>
            <td><%= link_to 'Details', user_job_path(current_user, job) %> | <%= link_to 'Edit', edit_user_job_path(current_user, job) %> | <%= link_to 'Delete', user_job_path(current_user, job),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <div class="wallet">
        <br/>
        <h5> Add new job here: <%= link_to('Create a new job', new_user_job_path(@user)) %> </h5>
      </div>
    </p>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>
    </li>
  <% end %>
</div>