<!DOCTYPE html>
<html>
  <h2>Welcome <%= @user %> !</h2>
  <% if current_user.admin == true %>
    <h4>  </h4>
    <p>
      Our records indicate that you are an admin. Access your dashboard here: <%= link_to('Admin Dashboard', rails_admin_path) %>
    </p>
  <% end %>
  <body>
    <% if user_signed_in? %>
    <h4>Your Jobs</h4>
    <table id="jobs">
      <tr>
        <th>Job Name</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Cost</th>
        <th>Description</th>
        <th>Details</th>
      </tr>

      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.name %></td>
          <td><%= Category.find(Subcategory.find(job.subcategory_id).category_id).name %></td>
          <td><%= Subcategory.find(job.subcategory_id).name %></td>
          <td><%= job.cost %></td>
          <td><%= job.description %></td>
          <td><%= link_to 'Details', user_job_path(job, current_user) %>
          <%= link_to 'Edit', edit_user_job_path(job, current_user) %></td>
        </tr>
      <% end %>
    </table>
    <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>
    </li>
    <% end %>
  </body>
</html>
