<div class="newcard">
  <br/>
  <h2>Create a New Payment Card</h2>
  <%= form_for :wallet, :url => user_wallets_path(@user, @wallet) do |f| %>
    <div class="field">
      <b><%= f.label :Name_on_Card %><br /> </b>
      <%= f.text_field :cardowner %>
    </div>
    <div class="field">
      <b><%= f.label :Card_Number %><br /> </b>
      <%= f.text_field :cardnumber %>
    </div>
    <br/>
    <div class="field">
      <b><%= f.label :Expire_Date %><br /> </b>
      <%= f.date_field :expiredate %>
    </div>
    <br/>
    <div class="actions">
      <b> <%= f.submit "Create" %> </b>
    </div>
  <% end %>
</div>
