<div class="log-in">
  <h2><b>Log in</b></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <b style="margin-right: 10%;"><%= f.label :email %></b>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div> <br/>
    <div class="field">
      <b style="margin-right: 5%;"><%= f.label :password %></b>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
