<div class="personal_message">
<h3>New message to <%= @receiver.fname %></h3>

    <%= form_for @personal_message do |f| %>
      <%= hidden_field_tag 'receiver_id', @receiver.id %>
    
      <p><%= f.label "Message:" %></p>
    
      <p><%= f.text_area :body %></p>
    
      <p><%= f.submit %></p>
    <% end %>
  </form>
</div>

</body>
</html>
