<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <div style="margin-left:5vw; margin-right:5vw; margin-bottom:5vh;">
            <h2 style="padding-top:6vh;">Contact Us</h2>
            <%= form_for(@contact) do |f| %>
                <% if @contact.errors.any? %>
                    <div id="error_explanation">
                        <h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>

                        <ul>
                            <% @contact.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name %>
                </div>
                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.text_field :email %>
                </div>
                <div class="field">
                    <%= f.label :message %><br />
                    <%= f.text_area :message %>
                </div>
                <div class="actions">
                    <%= f.submit "Send"%>
                </div>
            <% end %>
        </div>
    </body>
</html>
