<!DOCTYPE html>
<html>
  <% if user_signed_in? %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul class="topnav">
      <li><a class="active">Home</a></li>
      <li><a>Jobs</a></li>
      <li><a>Manage Store</a></li>
      <li class="dropdown">
        <button class="dropbtn"><%= current_user.fname %>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <%= link_to('My Account', edit_user_registration_path) %>
            <%= link_to('Create New', new_user_job_path(@user)) %>
            <%= link_to('My Wallet', user_wallets_path(@user)) %>
            <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
        </div>
      </li>
    </ul>
  <% else %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul class="topnav">
      <li><a class="active">Home</a></li>
      <li><a>Jobs</a></li>
      <li><a>Manage Store</a></li>
      <li class="right"><a href="/users/sign_in">Log in</a></li>
    </ul>
  <% end %>
  <head>
    <title>Homegig</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
